footer {
    background-color: $primary;
    color: $solidWhite;
    padding: 90px 0 50px 0;
    .footerFlexContainer {
        display: flex;
        justify-content: space-between;
        margin-bottom: 90px;
    }
    h4 {
            color: $solidWhite;
    }
    .newsletter {
        margin-right: 50px;
        width: calc(40% - 50px);
        form {
            position: relative;

        }
        input {
            background-color: transparent;
            color: $solidWhite;
            border: 2pz solid rgba(255,255,255, 0.2);
            height: 60px;
            font-size: 1.6rem;
            line-height: 2.4rem;
            padding: 18px 20px;
            margin-bottom: 20px;
            width: 100%;
            &:focus {
                border: 2px solid $solidWhite;
                outline: none;
            }
        }
        .secondary {
            position: absolute;
            top: 8px;
            right: 8px;
            }
        }
        .footerNav {
            width: 40%;
            nav {
                display: flex;
                justify-content:space-between;
                ul {
                    width: calc(100% / 3);
                }

            }
            a {
                color: rgba(255,255,255, 0.5);
                font-size: 1.6rem;
                line-height: 3rem;
                &:hover,
                &:focus {
                    color: rgba(255,255,255, 1);
                }
            }

        }
        .social {
            display: flex;
            justify-content: space-between;
        a {
            font-size: 2.4rem;
            margin: 0 10px;
            transition: 0.2s;
            &:hover,
            &:focus {
                color: $quinary;
            }
        }
    }
    }
