// Announcement Bar Styles
.announcements {
    padding: 10px 0;
    border-bottom: 1px solid rgba(8, 75, 109, 0.08);
    text-align: center;
}


.navBar {
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid rgba(8, 75, 109, 0.08);
    background-color: #fff;

    .wrapper {
        display: flex;
        border: 1px solid red;
        justify-content: space-between;
        padding: 20px 0;
    }

    .searchCart {
        display: flex;

        .searchIcon,
        .bagIcon {
            margin-right: 15px;
        }
    }
    a {
        display: flex;
    }

    .logo {
        margin-left: 60px;
    }

    .counter {
        display: flex;
        align-items: center;

        p {
            width: 24px;
            height: 24px;
            background-color: $primary;
            color: $solidWhite;
            text-align: center;
            border-radius: 50%;
            padding: 5px 0;

        }
    }
    input[type=checkbox] {
        opacity: 0;
        position: absolute;

        &:checked ~ .slideOutNav {
            left:0;
        }
        &:focus + label {
            border: px dotted $primary;
        }
    }

    label {
        cursor: pointer;
    }

    .slideOutNav {
        width: 100%;
        max-width: 506px;
        padding: 35px 50px;
        border-right: 1pz solid $secondary;
        background-color: $primary;
        color: $solidWhite;
        position: fixed;
        top: 0;
        left: -506px;
        z-index: 20;
        transition: 0.75s;
        display: flex;
        flex-direction: column;

        .buttonContainer {
            border: 1px solid #fff;
            display: flex;
            justify-content: flex-end;

            button {
                color: $solidWhite;
                background-color: transparent;
                font-size: 2.4rem;
                font-family: $bodyFont;
                padding: 10px 0 10px 20px;
            }
        }

        hr {
            width: 24px;
            height: 2px;
            margin: 36px 0;
            background-color: $solidWhite;
        }

        .mainMenu {
            font-family: "Young Serif";
            font-size: 3.2rem;
            line-height: 5rem;

        a {
            &:hover,
            &:focus {
                color: rgba(255, 255, 255, 0.5);
            }

            }
        }

        .legal {
            font-family: "Jakarta Sans";
            font-size: 1.8rem;
            font-weight: bold;
            line-height: 3rem;

            a {
                color: rgba(255, 255, 255, 0.5);
                &:hover,
                &:focus {
                    color: rgba(255, 255, 255, 1);
                }
            }
        }
    }
    
}

